* {
    font-family: 'Arial', sans-serif;
    font-weight: 900;
}
body {
    background-color: #f0f4f8; 
    background: linear-gradient(135deg, #d1d5db 60%, #e5e7eb 60%); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    position: relative;
    background-color: #ffffff; 
    background: linear-gradient(135deg, #f7f7f7, #e5e5e5); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 550px;
    border-radius: 8.5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

h2 {
    position: relative;
    top: 10px;
    color:#4b5563; 
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-size: 16.6px;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.campo label ,label{
    font-weight: bold;
    color: #4b5563; 
}

.campo input,
.campo select,
.campo textarea {
    width: 100%;
}


form input,
select,
.coment_block {
    width: 340px;
    border: 1px solid #d1d5db; 
    border-radius: 5px;
    margin: 6px 0 8px 0;
}

form input {
    height: 23px;
}

select {
    height: 28px;
    padding: 4.5px;
    background: #ffffff; 
    color: #1f2937; 
}

.coment_block {
    position: relative;
    left: -0.7px;
    width: 340px;
    height: 45px;
    margin-top: 5px;
    margin-bottom: 9px;
    border: 2px solid #9ca3af; 
    border-radius: 5px;
    resize: none;
}

.input_send {
    width: 330px;
    height: 33px;
    color: #ffffff; 
    background: #0d47a1; 
    cursor: pointer;
}

select,
.input_send {
    cursor: pointer;
}

.input_send:hover {
    background-color: #1565c0; 
    color: #ffffff;
}



#nav {
    border-radius: 20px;
    padding: 6px;
    font-size: 16.6px;
    color: #ffffff;
    background: #4b5563; 
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    bottom: 10px;
    left: 20px;
}

.link{
    margin-top: 10px;
    position: relative;
    bottom: px;
    left: 116px;
    text-align: center;
    text-decoration: none;
    color:#1f2937; 
    border-style: dashed;
    width: fit-content;
    padding: 5px;
    border-radius: 3px;
}
.link:hover{
    background-color: #e5e7eb; 
    color:#1565c0;
}
